
/*-------------------------------------
	sb-admin調整
-------------------------------------*/
/* 
	control-labelとの高さのずれの調整
*/
.form-controls { 
	padding-top: 7px; 
}

/* 
	reportがサイドバーと被らないように調整
*/
@media (min-width: 768px) {
	.ruiReport { 
		padding-left: 225px !important; 
	}
}

/*
	明るいnavにあわせる場合の調整
*/
.navbar-default .side-nav {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	color: #333;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #eee;
}

/*
	tableの文字サイズがreport表示時に崩れるので調整
*/
.table {
	font-size: 14px;
}

/*
	thの背景がつくように調整
*/
.table > thead > tr > th {
	background-color: #f5f5f5;
}


/*-------------------------------------
	独自定義Class
-------------------------------------*/
/* 
	使用しない要素を隠す 
*/
.hidden {
	display: none;
}

/*
	指カーソルに変更する
*/
.cursor-pointer {
	cursor: hand;
}


/*-------------------------------------
	input調整
-------------------------------------*/
.input-text,
.input-password,
.input-select {
	width: 80%;
}