<?php
    $url_param = array();
    foreach ($pageset->getParamFields() as $param_field) {
        $url_param[] = '"'.$param_field["field_name"].'"=>$forms.search.'.$param_field["field_name"];
    }
    $url_param = implode(", ", $url_param);
?>
{{*
{{form action="."|page_to_url form=$forms.search}}
    <table class="tbl detail">
        <tr>
            <th>フリーワード検索</th>
            <td>{{input name="freeword" type="text" size="40" class="input-text"}}</td>
        </tr>
    </table>
    <div class="btn-area clearfix">
        <div class="right clearfix">
            <a href="{{$forms.search->getSearchPageUrl()}}" class="reset-btn">リセット</a>
            <button type="submit" class="search-btn">検索</button>
        </div>
    </div>
{{/form}}
*}}

<div class="btn-area">
<?php if ($a_pageset = $controller->getPagesetByType("form")): ?>
    <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url<?=$url_param ? ":[".$url_param."]" : ""?>}}' class="create-btn">新規登録</a>
<?php endif; ?>
    <div class="right clearfix">
<?php foreach ($controller->getLinkTo() as $link): ?>
<?php   if ( ! $link["param_field"]): ?>
        <a href='{{"<?=$link["controller"]->getIndexPage()->getFullPage($page)?>"|page_to_url}}' class="link-btn"><?=$link["controller"]->getLabel()?></a>
<?php   endif; ?>
<?php endforeach; ?>
<?php if ($a_pageset = $controller->getPagesetByType("csv")): ?>
        <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url}}' class="export-btn">CSVダウンロード</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("import")): ?>
        <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url<?=$url_param ? ":[".$url_param."]" : ""?>}}' class="import-btn">一括登録</a>
<?php endif; ?>
    </div>
</div>

{{if count($ts)==0}}

<p>該当する情報がありません</p>

{{else}}{{* 0件ではない場合 *}}

{{*
<a id="table-sort" data-sort-base-url='{{$forms.search->getSearchPageUrl(["p"=>0, "sort"=>""])}}' data-sort-current="{{$forms.search.sort}}" data-sort-param-name="sort" data-sort-default="<?=$table->getOrdCol() ? $table->getOrdCol()->getName() : $table->getIdCol()->getName()?>"></a>
{{script require=["rui.sort"]}}{{/script}}
*}}

<table class="tbl list">
    <tr>
<?php foreach ($controller->getListCols() as $col): ?>
        <th><?=$col->getLabel()?></th>
<?php endforeach; ?>
        <th>&nbsp;</th>
    </tr>
    {{foreach $ts as $t}}
    <tr>
<?php foreach ($controller->getListCols() as $col): ?>
        <td><?=$col->getShowSource()?></td>
<?php endforeach; ?>
        <td>
<?php if ($a_pageset = $controller->getPagesetByType("detail")): ?>
            <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url:["id"=>$t.id]}}' class="list-btn">詳細</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("form")): ?>
            <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url:["id"=>$t.id<?=$url_param ? " ,".$url_param : ""?>]}}' class="list-btn">編集</a>
<?php endif; ?>
<?php if ($a_pageset = $controller->getPagesetByType("delete")): ?>
            <a href='{{"<?=$a_pageset->getIndexPage()->getFullPage($page)?>"|page_to_url:["id"=>$t.id]}}' class="list-btn" onclick="return confirm('削除します');">削除</a>
<?php endif; ?>
<?php foreach ($controller->getLinkTo() as $link): ?>
<?php   if ($link["param_field"]): ?>
            <a href='{{"<?=$link["controller"]->getIndexPage()->getFullPage($page)?>"|page_to_url:["<?=$link["param_field"]?>"=>$t.id]}}' class="list-btn"><?=$link["controller"]->getLabel()?></a>
<?php   endif; ?>
<?php endforeach; ?>
        </td>
    </tr>
    {{/foreach}}
</table>

{{if $p = $ts->getPager()}}
<div class="pager">
    <p>全{{$p->get("count")}}件中 {{$p->get("current_volume")}}件を表示</p>
    <ul class="clearfix">
    {{if $p->getPage('prev')}}
        <li class="prev"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('prev')])}}">&lt;</a></li>
    {{/if}}
    {{foreach $p->getPages(5) as $page}}
        {{if $page == "last"}}<li>...</li>{{/if}}
        {{if $page == $p->getPage("current")}}<li class="current">{{else}}<li>{{/if}}
        <a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage($page)])}}">{{$p->getPage($page)}}</a>
        </li>
        {{if $page == "first"}}<li>...</li>{{/if}}
    {{/foreach}}
    {{if $p->getPage("next")}}
        <li class="next"><a href="{{$forms.search->getSearchPageUrl(['p'=>$p->getPage('next')])}}">&gt;</a></li>
    {{/if}}
    </ul>
</div>
{{/if}}

{{/if}}{{* /0件ではない場合 *}}