#-------------------------------------
# Charset
#
AddDefaultCharset UTF-8

#-------------------------------------
# PHP 
#
php_flag display_errors On
php_value error_reporting 6135 
php_value date.timezone Asia/Tokyo
php_flag mbstring.encoding_translation Off
php_flag session.use_trans_sid On
php_flag session.use_only_cookies Off

#-------------------------------------
# RewriteEngine
#
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# .index.phpへのルーティング
RewriteCond %{REQUEST_URI} (\.html?|/|^)$
RewriteRule ^(.*)$ /HTML_DIR_URL/.index.php?__REQUEST_URI__=%{REQUEST_URI}&%{QUERY_STRING} [L]

#-------------------------------------
# BasicAuth (ex: preview / cftyuhbvg)
#
AuthUserFile /HTML_DIR/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user
